@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* width */
*::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: rgb(89, 152, 172);
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(178, 182, 182);
    font-family: 'Poppins', sans-serif;
}

.container{
    border-radius: 10px;
    position: relative;
    max-width: 80%;
    height: 90vh;
    display: flex;
    overflow: hidden;
    box-shadow: 3px 3px 10px 2px black;
}

i{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

i:hover{
    color: #fff;
}



.modal-header{
    width: 40%;
    height: auto;
    background: rgb(89, 152, 172);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.header{
    display: none;
}

.header-navbar{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header-navbar p{
    font-size: 18px;
    color: #fff;
}

.header-navbar .header-icons i{
    padding: 10px;
    font-size: 18px;
}

.header__images{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    
    margin-left: 40px;
    margin-top: 20px;
}

.header__images img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header__images .header__images-text{
    padding: 25px;
}

.header__images .header__images-text h5{
    font-size: 20px;
    color: #fff;
}

.header__send{
    width: 100%;
}

.header__send ul li{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 25px;
    
}

.header__send ul li span{
    margin-left: 60px;
}

.header__send ul li i{
    font-size: 20px;
}

.header__send .send{
    font-size: 20px;
    margin-left: 120px;
    color: rgb(89, 0, 255);
}
.settings{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
    background: rgb(89, 152, 172);
    border-radius: 10px;
    z-index: 3;

}

.setting-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    padding: 10px;
}

.setting-navbar .setting-text h2{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}


.setting-navbar .setting__navbar-icons i{
    font-size: 18px;
    padding: 10px;
}

.setting-img {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.setting-img img{
    width: 20%;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.setting-img .setting__img-text h1{
    font-size: 16px;
    color: #fff;
    margin: 10px;
}

.setting-img .setting__img-text p{
    font-size: 14px;
    margin: 10px;
}

.setting-hidden{
    width: 100%;
    height: 1.5%;
    background: rgba(19, 35, 44, 0.5);
}

.setting-menu ul{
    width: 100%;
    height: 40%;
}

.setting-menu ul li i{
    margin-right: 15px;
}

.sjkggbsdkugsoeskfnseuhfaefhf

.setting-menu ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.setting-menu ul li:hover,
.setting-default:hover{
    background: linear-gradient(139deg,#f8f8f8cb 0%, #4c617eb6 90%);
    color: #fff;
}

.setting-default{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}



.setting-default p{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px  ;
}


.shadow{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.shadow-hidden{
    display: none;
}

.menu{
    position: absolute;
    width: 30%;
    height: 100%;
    background: rgb(51, 78, 95);
    transform: translateX(-100%);
    transition: 0.3s;
}

.menu-navbar{
    width: 100%;
    height: 30%;
    background: rgba(2, 21, 31, 0.5);
}

.menu .menu-navbar img{

    width: 23%;
    height: 60px;
    border-radius: 50%;
    margin: 20px 20px;
    cursor: pointer;
}

.menu .menu-navbar h1 {
    font-size: 16px;
    color: #fff;
    margin: 0px 22px;
    cursor: pointer;
}

.menu .menu-navbar p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px 22px;
}

.menu .menu-function ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.8s ease;
}

.menu-function ul li:hover{
    background: linear-gradient(139deg,#f8f8f8cb 0%, #4c617eb6 90%);
}

.menu-function ul li i {
    font-size: 20px;
}

.menu-function ul li h3 {
    font-size: 20px;
    color: #111;
    font-weight: 500;
    margin: 0px 15px;
    cursor: pointer;
    
}



.modal-settings{ 
    display: none;
} 

.telegram__chat-name{
    width: 30%;
    height: 100%;
    background: rgb(51, 78, 95);
}

.chat-search{
    height: 10%;
    display: flex;
    
}

.chat-search i{
    font-size: 20px;
    margin: 18px 20px;
    
}

.chat-search .chat-input{
    border: none;
    color: #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    width: 70%;
    height: 35px;
    margin: 13px;
    margin-left: 10px;

}

.chat-name{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 90%;
    
    
    
}

.messages-item{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.messages-item:hover{
    background-color: rgb(141, 185, 185);
}

.messages-img {
    width: 17%;
    height: 7vh;
    border-radius: 50%;

}

.messages-name{
    font-size: 15px;
    padding: 15px;
    color: #fff;
}




/* navbar styling */


.telegram__chat-message{
    
    width: 70%;
    height: 100%;
    background: linear-gradient(139deg,#f8f8f8cb 0%, #4c617eb6 90%);
}

.telegram__chat-message .chat-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background: rgb(51, 78, 95);
    padding: 15px;
}

.chat-typing{
    width: 100%;
    height: 82%;
    overflow-y: scroll;

}

.chat-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-itemnew{

    margin: 5px 10px;
	width: auto;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	padding: 5px 15px;
	background-image: linear-gradient(to right,#0648a3,#00d4ff);
	color: white;
	align-self: flex-end;
}



.chat-navbar .chat-navbar-icons span i{
    margin: 0px 15px;
    font-size: 18px;
}

.chat-navbar .chat-navbar-name h4{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.chat-navbar .chat-navbar-name p{
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 15px;
}

.chat-write{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    background: rgb(51, 78, 95);
    
}

.chat-write form i{
    font-size: 20px;
    padding: 10px 10px;
}

.chat-input2{
    width: 550px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    color: #fff;

}

.chat-btn i{
    font-size: 20px;
    padding: 10px 10px;
}

.chat-btn button{
    background: none;
    outline: none;
    border: none;
}





